---
import Layout from "../layouts/Layout.astro";
import { products } from "../data";
import ProductCard from "../components/ProductCard.astro";
import { previousHref, previousText, tutorialHref, tutorialText, githubText, githubHref } from "../config";
const title  = "W CRATE BOXES"
export const intro = 'Descubra los paquetes más exclusivos y asegure una experiencia única en cada entrega.'
---

<Layout title="Crateboxes Shop">
  <div>
    <h1 class="text-5xl pb-3 font-bold mb-4">{title} </h1>
    <h3 class="text-2xl text-gray-500 mb-8">
      {intro}
    </h3>

    <nav class="pb-4">
      <a href={previousHref} class="text-[#00000087] hover:underline hover:text-gray-950 py-8">{previousText}</a>
      <!-- <span class="text-gray-400 mx-2">&#183;</span>
      <a href={tutorialHref} class="text-gray-400 hover:underline hover:text-gray-950">{tutorialText}</a>
      <span class="text-gray-400 mx-2">&#183;</span>
      <a href={githubHref} class="text-gray-400 hover:underline hover:text-gray-950">{githubText}</a> -->
    </nav> 
  </div>

  <div class="flex flex-wrap gap-4 py-8">
    {products.map((product) => <ProductCard {product} />)}
  </div>
</Layout>