---
import Icon from "astro-icon";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  image?: string;
  description?: string;
}

const {
  title,
  image = "https://cnnlxzoncmhijwubkbue.supabase.co/storage/v1/object/sign/crate%20boxes/s.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJjcmF0ZSBib3hlcy9zLnBuZyIsImlhdCI6MTcxOTM3OTg3NSwiZXhwIjoyNjY1NDU5ODc1fQ.dmJ5GtWCEm9gb8g1P_SUbkq3QChN8rul0T4p2ArBjAE&t=2024-06-26T05%3A31%3A12.748Z",
  description = "Descubre una experiencia única con nuestras exclusivas Crate Boxes, cuidadosamente diseñadas para los conocedores más exigentes. asegurando una experiencia premium en cada entrega.",
} = Astro.props;

const imageUrl = import.meta.env.PUBLIC_URL
  ? new URL(image, import.meta.env.PUBLIC_URL)
  : image;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:type" content="product" />
    <meta property="og:image" content={imageUrl} />
    <meta property="og:description" content={description} />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imageUrl} />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Astro Transitions Shop</title>
    <ViewTransitions />
  </head>
  <body class="bg-gradient-to-tl via-transparent from-gray-500/5">
    <main
      class="relative max-w-6xl min-h-screen mx-auto py-6 lg:pt-10 px-4 pb-20"
    >
      <slot />
    </main>

    <style is:global>
      /* dm-sans-latin-wght-normal */
      @font-face {
        font-family: "DM Sans Variable";
        font-style: normal;
        font-display: swap;
        font-weight: 100 1000;
        src: url(https://cdn.jsdelivr.net/fontsource/fonts/dm-sans:vf@latest/latin-wght-normal.woff2)
          format("woff2-variations");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      h1,
      h4,
      h3 {
        font-family: "DM Sans Variable";
      }
      :root {
      }
      body {
        background-color: theme(colors.gray.50);
      }
      .animate-in {
        animation: animate-in 0.5s ease-in-out;
      }
      /* Firefoxs */
      * {
        scrollbar-width: auto;
        scrollbar-color: #c7c7c7 #ededed;
      }

      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 15px;
      }

      *::-webkit-scrollbar-track {
        background: #ededed;
      }

      *::-webkit-scrollbar-thumb {
        background-color: #c7c7c7;
        border-radius: 5px;
        border: 2px solid #ffffff;
      }
      @keyframes animate-in {
        0% {
          opacity: 0;
          transform: translateY(1rem);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    </style>
  </body>
</html>
